<footer>
    <div class="copyright bg-daker">
        <div class="row">
            <div class="mt-5 col-lg-12">
                <p class="text-center p-small"href="https://avatars0.githubusercontent.com/u/26074066?s=400&u=07411ba3d709149df448ec433ee21cd26f1ac966&v=4">Jogatina Copyright &reg; 2020</p>
            </div>
        </div>
    </div>
</footer>

<script src="/node_modules/jquery/dist/jquery.slim.min.js"></script>
<script src="/node_modules/popper.js/dist/popper.min.js"></script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/b5ed3fff72.js" crossorigin="anonymous"></script>