<footer>
    <div class="copyright bg-darker">
        <div class="row">
            <div class="mt-5 col-lg-12">
                <p class="text-center p-small bg-darker"href=#">Jogatina Copyright &reg; 2020</p>

            </div>
        </div>
    </div>
</footer>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/bootstrap.bundle.min.js"></script>
<script src="https://kit.fontawesome.com/b5ed3fff72.js" crossorigin="anonymous"></script>
</body>

