
 <header class="sticky-top">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container c-navbar">
            <a class="navbar-brand" href="#">
                <img src="/images/jogatina_header.png" alt="jogatinalogo" width="200px" height="auto">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="rounded-circle bg-dark" src="/uploads/<%= result.imagem_perfil %>" width="30" alt="">
                        </a>
                        <div class="dropdown-menu bg bg-dark" aria-labelledby="navbarDropdown">    
                            <a class="dropdown-item" href="/personagem/criar"><i class="fas fa-user"></i> Criar Personagens</a>                    
                            <a class="dropdown-item" href="/personagem/editar"><i class="fas fa-user-edit"></i> Editar Personagens</a>
                            <a class="dropdown-item" href="/profile/editar"><i class="fas fa-edit"></i> Editar Perfil</a>
                            <a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt"></i> Sair</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile"><i class="fas fa-home"></i> Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/amigos"><i class="fas fa-users"></i> Amigos</a>
                    </li>

                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-0" type="search" placeholder="Buscar"
                        aria-label="Search">
                </form>
            </div>
    </nav>
</header>