<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <title>Jogatina | A Rede Social de RPG - Cadastro</title>
</head>

<body>

<main>
    <div class="bg-darker">
       <article class="card-body mx-auto" style="max-width: 400px;">
            <img class="col-lg-12 mb-4" src="/images/Jogatina_Header.png" alt="" width="100%" height="auto">
            <h4 class="card-title mt-3 text-center bg-darker">Crie Sua Conta!</h4>
            <p class="text-center bg-darker">Começe sua jornada incrível e encontre parceiros de jogo com uma nova conta!</p>
            <p class="bg-darker">
                <a href="" class="btn btn-twitter btn-block"> <i class="fab fa-twitter"></i>Login via Twitter</a>
                <a href="" class="btn btn-facebook btn-block"> <i class="fab fa-facebook-f"></i>Login via facebook</a>
            </p>
            <p class="divider-text bg-darker">
                <span class="bg-daker"></span>
            </p>
            <div class="row">
                <div class="col-12 col-sm-auto mb-3">
                  <div class="mx-auto" style="width: 140px;">
                    <div class="d-flex justify-content-center align-items-center rounded" style="height: 140px; background-color: rgb(233, 236, 239);">
                      <span style="color: rgb(166, 168, 170); font: bold 8pt Arial;">140x140</span>
                    </div>
                  </div>
                </div>
                <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                  <div class="text-center text-sm-left mb-2 mb-sm-0">
                    <div class="mt-2">
                      <button class="btn btn-primary" type="button">
                        <i class="fa fa-fw fa-camera"></i>
                        <span>Escolher foto</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            <form action="/cadastro/" method="POST">
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i></span>
                    </div>
                   <input name="" class="form-control" placeholder="Nome Completo" type="text">
                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope"></i></span>
                    </div>
                    <input name="" class="form-control" placeholder="Endereço de Email" type="email">
                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-calendar"></i></span>
                    </div>
                    <select class="custom-select" style="max-width: 120px;">
                        <option selected="">Dia</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                    </select>
                    <select class="custom-select" style="max-width: 120px;">
                        <option selected="">Mês</option>
                        <option value="01">Janeiro</option>
                        <option value="02">Fevereiro</option>
                        <option value="03">Março</option>
                        <option value="04">Abril</option>
                        <option value="05">Maio</option>
                        <option value="06">Junho</option>
                        <option value="07">Julho</option>
                        <option value="08">Agosto</option>
                        <option value="09">Setembro</option>
                        <option value="10">Outubro</option>
                        <option value="11">Novembro</option>
                        <option value="12">Dezembro</option>
                    </select>
                    <select class="custom-select" style="max-width: 120px;">
                        <option selected="">Ano</option>
                        <option value="1">2002</option>
                        <option value="2">2001</option>
                        <option value="3">2000</option>
                        <option value="4">1999</option>
                        <option value="5">1998</option>
                        <option value="6">1997</option>
                        <option value="7">1996</option>
                        <option value="8">1995</option>
                        <option value="9">1994</option>
                        <option value="10">1993</option>
                        <option value="11">1992</option>
                        <option value="12">1991</option>
                        <option value="13">1990</option>
                        <option value="14">1989</option>
                        <option value="15">1988</option>
                        <option value="16">1987</option>
                        <option value="17">1986</option>
                        <option value="18">1985</option>
                        <option value="19">1984</option>
                        <option value="20">1983</option>
                        <option value="21">1982</option>
                        <option value="22">1981</option>
                        <option value="23">1979</option>
                        <option value="24">1978</option>
                        <option value="25">1977</option>
                        <option value="26">1976</option>
                        <option value="27">1975</option>
                        <option value="28">1974</option>
                        <option value="29">1973</option>
                        <option value="30">1972</option>
                        <option value="31">1971</option>
                        <option value="32">1970</option>
                    </select>
                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-transgender-alt"></i></span>
                    </div>
                    <select class="custom-select">
                        <option selected="">Gênero</option>
                        <option>Masculino</option>
                        <option>Feminino</option>
                        <option>Outro</option>
                    </select>
                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input class="form-control" placeholder="Crie uma senha" type="password">
                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input class="form-control" placeholder="Repita sua senha" type="password">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-redish btn-block"> Crie Minha Conta</button>
                </div>
                <p class="text-center bg-darker">Já tem uma conta? <a href="/">Log In</a></p>
            </form>
        </article>
    </div> 
</main>

<%- include('./partials/footer') %>

</html>