<!DOCTYPE html>
<html lang="PT-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap">
  <link rel="stylesheet" href="/stylesheets/not-found.css">
  <link rel="icon" type="image/png" href="/images/FavIcon2.png" />
  <title>Jogatina | A Rede Social Gamer - Login</title>
</head>

<body >


</body>

</html>