<!DOCTYPE html>
<html lang="PT-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="icon" type="image/png" href="/images/FavIcon2.png" />
  <title>Jogatina | A Rede Social Gamer - Erro</title>
</head>
<body>

    <div class="page-wrap d-flex flex-row align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <img src="/images/404.png" alt="" srcset="">
                    <span class="display-1 d-block">404</span>
                    <div class="mb-4 lead">A página não pode ser encontrada.</div>
                    <a href="#" class="btn btn-redish">Voltar para o início</a>
                </div>
            </div>
        </div>
    </div>
 

  <script src="/javascripts/jquery.min.js"></script>
  <script src="/javascripts/bootstrap.bundle.min.js"></script>
  <script src="https://kit.fontawesome.com/b5ed3fff72.js" crossorigin="anonymous"></script>
</body>

</html>