<!DOCTYPE html>
<html lang="PT-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap">
  <link rel="stylesheet" href="/stylesheets/login.css">
  <link rel="icon" type="image/png" href="/images/FavIcon2.png" />
  <title>Jogatina | A Rede Social Gamer - Login</title>
</head>
<body>

  


  


  <script src="/javascripts/jquery.min.js"></script>
  <script src="/javascripts/bootstrap.bundle.min.js"></script>
  <script src="https://kit.fontawesome.com/b5ed3fff72.js" crossorigin="anonymous"></script>
</body>

</html>