// Color system

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;
$darkjogatina: #414141 !default;
$darkerjogatina: #252525 !default;

$grays: () !default;
$grays: map-merge(("100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900),
  $grays);

$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;
$redishjogatina: #ff0000 !default;
$redjogatina: #af0404 !default;
$discord: #7384D4 !default;




$colors: () !default;
$colors: map-merge(("blue": $blue,
    "indigo": $indigo,
    "purple": $purple,
    "pink": $pink,
    "red": $red,
    "orange": $orange,
    "yellow": $yellow,
    "green": $green,
    "teal": $teal,
    "cyan": $cyan,
    "white": $white,
    "gray": $gray-600,
    "gray-dark": $gray-800),
  $colors);

$primary: $redishjogatina !default;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $redjogatina !default;
$light: $gray-100 !default;
$dark: $darkjogatina !default;
$darker: $darkerjogatina !default;


$theme-colors: () !default;
$theme-colors: map-merge(("primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark,
    "darker": $darker,
    "discord": $discord),
  $theme-colors);


@import "node_modules/bootstrap/scss/bootstrap";

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


html,
body {
  height: 100%;
  color: $white;
  font-family: 'Montserrat',
  sans-serif;
  font-size: 22px;
  overflow: hidden;
  width: 300vw;
  height: 100vh;
  margin: 0;
  background-color: $darkerjogatina;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}


.form-control {
  border: 1px solid $redishjogatina;
  
}

.form-signin {
  background-color: $darkjogatina;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 3px 3px 8px black;
  width: 100%;
  max-width: 330px;
  padding: 30px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
  color: $white
}

.form-signin input::-webkit-input-placeholder { /* WebKit browsers */
  color: #000!important;
  opacity: 1;
}
.form-signin input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color: #000 !important;
 opacity: 1;
}
.form-signin input::-moz-placeholder { /* Mozilla Firefox 19+ */
 color: #000!important;
 opacity: 1;
}
.form-signin input:-ms-input-placeholder { /* Internet Explorer 10+ */
 color: #000 !important;
 opacity: 1;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  box-shadow: 3px 3px 8px black;
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-bottom-left-radius: 80px;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  box-shadow: 3px 3px 8px black;
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-bottom-left-radius: 80px;
}

.btn-primary {
  border-radius: 80px 80px 80px 80px;
  box-shadow: 3px 3px 8px black;
  letter-spacing: 3px;
  background-color: black;
  outline-color: $redjogatina;
  font-size: 14px;

}

.checkbox {
  font-size: 12px;
}

.videoBG {
  position: fixed;
  z-index: -1;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

@media (min-aspect-ratio: 16/9) {
  #videoBG {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  #videoBG {
    width: auto;
    height: 100%;
  }
}

@media (max-width: 767px) {
  #videoBG {
    display: none;
  }


  body {
    background: url('poster.jpg');
    background-size: cover;
  }
}