body{
    
        background-image: url(../images/error\ 404.gif);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        z-index: 1;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        /* align-items: center; */
        padding-top: 400px;
        padding-bottom: 40px; 
}