// Color system

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;
$darkjogatina: #414141 !default;
$darkerjogatina: #252525 !default;

$grays: () !default;
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
  ),
  $grays
);

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;
$redishjogatina: #ff0000 !default;
$redjogatina: #af0404 !default;
$discord: #7384D4 !default;
$facebook:#405D9D !default;





$colors: () !default;
$colors: map-merge(
  (
    "blue":       $blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "white":      $white,
    "gray":       $gray-600,
    "gray-dark":  $gray-800
  ),
  $colors
);

$primary:       $redishjogatina !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $redjogatina !default;
$light:         $gray-100 !default;
$dark:          $darkjogatina !default;
$darker:        $darkerjogatina !default;
    

$theme-colors: () !default;
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark,
    "darker":     $darker,
    "discord":    $discord
    
  ),
  $theme-colors
);



@import "node_modules/bootstrap/scss/bootstrap";

body {
  background-color: $darkerjogatina;
  font-family: 'MedievalSharp';font-size: 22px;  
}

button {
    margin-right: 5px;
}

.container {
  margin-top:100px;
  color:$white;
  
}

.profileimg {

}

h4, p {
  color: white;
  background-color: $darkerjogatina;
}

.copyright {
  color: white;
  background-color: $darkjogatina;
}

.progress {
  margin-bottom: 20px;
}

.fakeimg {
  height: 200px;
  background:$darkjogatina;
}

.fakeimgprofile {
  width: 50px;  
  height: 50px;
  background:$darkjogatina;
}

.border {
  color: $white;
}

.divider-text {
  position: relative;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  color: $white;
}
.divider-text span {
  padding: 7px;
  font-size: 12px;
  position: relative;   
  z-index: 2;
  
}
.divider-text:after {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #ddd;
  top: 55%;
  left: 0;
  z-index: 1;
  
}

.btn-facebook {
  background-color: #405D9D;
  color: #fff;

}
.btn-twitter {
  background-color: #42AEEC;
  color: #fff;
}

