// Color system

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;
$darkjogatina: #414141 !default;
$darkerjogatina: #252525 !default;

$grays: () !default;
$grays: map-merge(("100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900),
  $grays);

$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;
$redishjogatina: #ff0000 !default;
$redjogatina: #af0404 !default;
$discord: #7384D4 !default;
$facebook:#405D9D !default;
$twitter: #42AEEC !default;



$colors: () !default;
$colors: map-merge((
    "blue": $blue,
    "indigo": $indigo,
    "purple": $purple,
    "pink": $pink,
    "red": $red,
    "orange": $orange,
    "yellow": $yellow,
    "green": $green,
    "teal": $teal,
    "cyan": $cyan,
    "white": $white,
    "gray": $gray-600,
    "gray-dark": $gray-800),
  $colors);

$primary: $white !default;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $redjogatina !default;
$light: $gray-100 !default;
$dark: $darkjogatina !default;
$darker: $darkerjogatina !default;
$face: $facebook !default;
$bird: $twitter !default;
$redishjogatina: $redishjogatina!default;


$theme-colors: () !default;
$theme-colors: map-merge((
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark,
    "darker": $darker,
    "discord": $discord,
    "redish": $redishjogatina),
  $theme-colors);

@import "node_modules/bootstrap/scss/bootstrap";

body {
  background-color: $darkerjogatina;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  color: #ffffff;
}

button {
  margin-right: 5px;
}

.container {
  margin-top: 100px;
  margin: 0px;
  color: $white;

}

.interactArea {
  margin-top: 100px;
  margin: 0px 0;
  color: $white;
}

.profileArea img {
  border-radius: 50%;
}

.profileArea {
  margin-top: 100px;
  margin: 0px;
  color: $white;
}

.timelinebox img {
  border-radius: 50%;
}

.friendlist img {
  border-radius: 50%;
}

.findfriend img {
  border-radius: 50%;
}

h3,
h4,
p {
  color: white;
  background-color: $darkjogatina;
}

.copyright {
  color: white;
  background-color: $darkjogatina;
}

.progress {
  margin-bottom: 20px;
}

.sharebox {
  height: 200px;
  background: $darkjogatina;
}

.timelinebox {
  width: 50px;
  height: 50px;
  background: $darkjogatina;
}

//Profile

.card {
  background-color: $darkjogatina;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  padding: 0px 40px;
  transition: 0.2s;
  margin-bottom: 30px;
  min-height: 100px;
  border: 1px solid black;
  position: relative;
  box-shadow: 0 5px 10px black;
  word-wrap: break-word;

}

._margin_bottom_none {
  margin-bottom: 0 !important;

}

.copyright {
  background-color: $darkerjogatina;

}

.btn-primary {
  border-radius: 80px 80px 80px 80px;
  box-shadow: 3px 3px 8px black;
  letter-spacing: 3px;
  background-color: black;
  outline-color: $primary;
  font-size: 14px;
  color:#ffffff;
}

.btn-redish {
  border-radius: 80px 80px 80px 80px;
  box-shadow: 3px 3px 8px black;
  letter-spacing: 3px;
  background-color: black;
  outline-color: $redishjogatina;
  font-size: 14px;
}

.btn-success {
  border-radius: 80px 80px 80px 80px;
  box-shadow: 3px 3px 8px black;
  letter-spacing: 3px;
  background-color: black;
  outline-color: $success;
  font-size: 14px;

}

.btn-warning {
  border-radius: 80px 80px 80px 80px;
  box-shadow: 3px 3px 8px black;
  letter-spacing: 3px;
  background-color: black;
  outline-color: $warning;
  font-size: 14px;
  color: white;
}

.btn-discord {
  border-radius: 80px 80px 80px 80px;
  box-shadow: 3px 3px 8px black;
  letter-spacing: 3px;
  background-color: black;
  outline-color: $discord;
  font-size: 14px;
}

.btn-facebook {
  border-radius: 80px 80px 80px 80px;
  box-shadow: 3px 3px 8px black;
  letter-spacing: 3px;
  background-color: $facebook;
  outline-color: $facebook;
  font-size: 14px;
  color: white;
}

.btn-twitter {
  border-radius: 80px 80px 80px 80px;
  box-shadow: 3px 3px 8px black;
  letter-spacing: 3px;
  background-color: $twitter;
  outline-color: $twitter;
  font-size: 14px;
  color: white;
}

.btn-secondary {
  border-radius: 80px 80px 80px 80px;
  box-shadow: 3px 3px 8px black;
  letter-spacing: 3px;
  background-color: black;
  outline-color: $secondary;
  font-size: 14px;
  color: white;
}

.form-control,
.custom-select {
  border: 1px solid $redishjogatina;
  box-shadow: 3px 3px 8px black;
  border-radius: 40px;
  color: #000;
}

.navbar.navbar-1 .navbar-toggler-icon {
  background-image: url('https://mdbootstrap.com/img/svg/hamburger6.svg?color=000');
  }

// Cadastro
.input-group-text {
  border-radius: 80px 80px 80px 80px;
  color: #000;
}

.form-group input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #000 !important;
  opacity: 1;
}

.form-group input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #000 !important;
  opacity: 1;
}

.form-group input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #000 !important;
  opacity: 1;
}

.form-group input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #000 !important;
  opacity: 1;
}

.custom-select {
  border-radius: 80px 80px 80px 80px;
}

.border {
  color: $white;
}

.divider-text {
  position: relative;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  color: $white;
}

.divider-text span {
  padding: 7px;
  font-size: 12px;
  position: relative;
  z-index: 2;

}

.divider-text:after {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #ddd;
  top: 55%;
  left: 0;
  z-index: 1;

}

// Not-Found

.page-wrap {
  min-height: 100vh;
}

// Cards de Post

.h7 {
  font-size: 0.87rem;
  font-weight: 600;
}

.h8 {
  font-size: 0.78rem;
  font-weight: 600;
}

.offset-fixed {
  position: fixed;
  top: 0;
  bottom: 0;
}

.f-left {
  left: 0
}

.f-right {
  right: 0;
}

.side-left {
  margin-top: 4rem;
  margin-left: 8.07rem;
  background-color: $darkjogatina;
}

.side-right {
  margin-top: 4rem;
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100vh - 7.5rem);
}

.img-circle {
  width: 5rem;
  height: 3.1rem;
  background-color: $darkjogatina;
  border-radius: 50%;
  border: 1px solid #dddddd;
}


@media (min-width: 1200px) {
  .container {
    max-width: 1125px;
  }

  .c-navbar {
    margin-left: 7rem !important;
  }
}