* 
{
    font-family: Arial, Helvetica, sans-serif;
}

body
{
    background-color: #252525;
}
.btn:not(:disabled):not(.disabled)
{
    background-color: #ff0000;
}

.brand_logo_container 
{
    width: 300;
    height: auto;
}
.navbar .navbar-expand-lg .navbar-light
{
    background-color: brown;
}